<% provide(:title, "home") %>
<div class="center">
<% @things.each do |thing| %>
  <p><%= link_to thing.name, thing_path(thing), class: "toplink" %>
  <% if current_user.email == "test@test.com" %>
    <%= link_to "delete", thing_path(thing), method: :delete %></p><br>
  <% end %>
<% end %>
</div>
